.git
**/node_modules
release
qdrant
backend/qdrant
**/*.exe
**/*.zip
**/bundle.mjs.orig
**/bundle.mjs.fork
_test_video_60mb.mp4
**/dist
front/pnpm-lock.yaml
.npm-cache
**/*.log
backend/data/app.db
backend/data/graph.db
backend/data/jwt_secret.key
